.container {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-top: 56px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  padding: 24px 0;
}

.container-body {
  display: grid;
  align-items: center;
  justify-items: start;
  font-size: 18px;
  font-weight: 500;
  color: black;
  line-height: normal;
  gap: 16px;
  white-space: pre-line;
  width: 80%;
}

.button {
  display: grid;
  padding: 8px 16px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 150px;
  place-items: center;
}
